{% load static %}
<nav class="navbar navbar-color">
    <div class="container-fluid">
        <a href="/">
            <img class="ms-5 logo" src="{% static '/icons/logo_icon_branco.svg' %}" alt="logo">
        </a>
        <button type="button" class="btn btn-primary btn-lg  me-5" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><i class="bi bi-list"></i></button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close ms-2 mt-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link ms-3 mt-2" aria-current="page" href="/about/"><i class="bi bi-question-circle"></i> Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3 mt-2" aria-current="page" href="/login/"><i class="bi bi-box-arrow-right"></i> Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>